#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

.sidebar_icon {
    max-width: 24px;
    max-height: 24px;
}

@media (max-width: 768px) {
    #sidebar {
        min-width: 100px;
    }
    .sidebar_text {
        display: none;
    }
}
