.thumbnail {
    width: auto;
    height: 5em;
}

.box {
    border: bisque;
    border-style: dashed;
    height: 15em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.link_title {
    font-weight: lighter;
    font-size: 120%;
}
